<or>
  <hostname op="=" value="dell-pec6220-01.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per720-03.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per720xd-01.dell2.lab.eng.bos.redhat.com"/>
</or>
